@font-face {
    font-family: exoset-blizzard;
    src: url("fonts/exocet-blizzard-medium.ttf");
}

body{
    color: #bababa;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #393E46;
    background-image: url("images/hellgate-wall.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.title{
    font-family: exoset-blizzard, Helvetica, Arial, sans-serif;
    text-shadow: -3px 2px black;
    color: #daac71;
    line-height: 2;
    font-size: 3rem;
    border-top: 2px solid #daac71;
    border-bottom: 2px solid #daac71;
}
.subtitle{
    text-align: center;
    font-family: exoset-blizzard, Helvetica, Arial, sans-serif;
    text-shadow: -3px 2px black;
    color: lightgray;
    line-height: 2;
    font-size: 2rem;
}

/* Navbar */
.navbar{
    background: rgba(0,0,0,0.5);
    padding: 0.8% 2%;
    border-bottom: 1px solid red;
    min-height: 7%;
}
.navbar-brand{
    color: red;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1rem;
}
.nav-link{
    font-size: 1rem;
    font-family: exoset-blizzard;
    text-shadow: -3px 2px black;
    color: lightgray;
}
.nav-item{
    padding: 0 10px;
}

/* Main */
.d4-logo{
    padding: 3% 0% 0%;
    width: 30%;
}
.mainpage{
    margin: 0% 10% 5%;
    padding: 1%;
    border: 2px solid #daac71;
    background-color: black;
    opacity: .85;
}
.sub-section{
    text-align: left;
    padding: 2% 5%;
}
.sub-section li{
    margin-bottom: 2%;
}
.iptable{
    width: 50%;
    text-align: center;
    margin: auto;
    border: 2px solid;
}
.iptable td{
    border: 1px solid;
}
.iptable th{
    border: 1px solid;
}
.imprint{
    text-align: left;
    padding: 2% 5%
}
.note {
    border: 3px dotted;
    border-radius: 15px;
    padding: 5%;
}
hr{
    border: 3px solid gray;
}
